In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
#Slot 1
#key = ["C", "B", "A", "A", "A", "A", "D", "B", "D", "C", "C", "D", "A", "B", "D", "A", "B", "D", "C", "C", "A", "D", "A", "C", "B", "C", "B", "C", "D", "B", "D", "A", "B", "D", "B"]
#key = ["C", "C", "C", "A", "B", "B", "C", "-1", "C", "A", "C", "C", "D", "C", "A", "D", "C", "C", "A", "B", "C", "B", "B", "B", "D", "A", "B", "C", "B", "C", "D", "C", "C", "C", "A"]
#key = ["B", "A", "B", "A", "A", "A", "B", "A", "B", "C", "C", "B", "C", "A", "D", "A", "D", "A", "C", "C", "B", "C", "B", "A", "C", "C", "B", "B", "A", "C", "A", "B", "D", "A", "C"]
#key = ["C", "BONUS", "D", "A", "B", "B", "C", "D", "C", "B", "D", "C", "(A AND C)", "D", "A", "C", "A", "A", "D", "A", "D", "C", "B", "C", "C", "D", "B", "A", "A", "BONUS", "D", "D", "B", "B", "B"]
#key = ["C", "B", "D", "D", "B", "B", "A", "D", "C", "B", "C", "B", "A", "D", "B", "D", "A", "B", "A", "B", "B", "C", "D", "C", "D", "D", "B", "B", "A", "B", "D", "B", "B", "C", "A"]
#key = ["C", "A", "C", "C", "C", "D", "B", "C", "A", "C", "A", "B", "B", "B", "A", "B", "A", "A", "B", "A", "D", "A", "A", "A", "A", "D", "A", "D", "D", "A", "B", "A", "C", "C", "C"]
#key = ["B", "BONUS", "C", "A", "B", "B", "C", "D", "B", "C", "C", "BONUS", "C", "A", "A", "D", "B", "B", "A", "C", "A", "B", "A", "C", "B", "B", "B", "A", "B", "C", "A", "C", "B", "C", "A"]
#key = ["C", "B", "D", "A", "C", "C", "D", "A", "D", "D", "B", "B", "C", "B", "D", "C", "C", "A", "B", "B", "C", "C", "B", "A", "A", "B", "A", "C", "C", "B", "B", "C", "C", "B", "A"]
#key = ["B", "A", "C", "A", "D", "C", "C", "B", "D", "C", "B", "C", "C", "A", "B", "B", "A", "A", "A", "D", "C", "A", "A", "C", "D", "C", "C", "C", "A", "C", "B", "A", "B", "C", "D"]
#key = ["A", "C", "B", "B", "D", "A", "(B AND C)", "B", "B", "C", "D", "A", "C", "A", "D", "A", "B", "C", "C", "B", "(A OR C)", "BONUS", "D", "B", "A", "A", "B", "C", "C", "BONUS", "D", "A", "C", "A", "C"]
#keyB = ["B", "D", "B", "C", "B", "B", "A", "A", "A", "D", "A", "A", "A", "B", "C", "B", "B", "D", "A", "D", "D", "B", "A", "A", "C", "C", "D", "C", "C", "A", "A", "C", "B", "B", "C"]
#keyM = ["B", "D", "B", "C", "B", "B", "A", "A", "A", "D", "A", "A", "A", "B", "C", "B", "B", "D", "A", "D","C", "B", "A", "B", "A", "C", "C", "A", "A", "A", "A", "C", "B", "B", "C"]
#keyB = ["C", "A", "C", "B", "D", "C", "D", "A", "B", "B", "C", "B", "B", "B", "C", "B", "C", "C", "C", "B", "A", "A", "A", "A", "A", "B", "B", "C", "D", "C", "D", "A", "A", "C", "D"]
#keyM = ["C", "A", "C", "B", "D", "C", "D", "A", "B", "B", "C", "B", "B", "B", "C", "B", "C", "C", "C", "B", "B", "B", "A", "B", "C", "A", "B", "B", "A", "D", "D", "A", "A", "C", "D"]


#Slot 2
#key = ["D", "D", "A", "A", "C", "D", "B", "D", "B", "C", "C", "A", "A", "A", "D", "A", "A", "D", "C", "A", "A", "D", "C", "B", "A", "C", "A", "C", "B", "C", "D", "A", "D", "D", "D"]
#key = ["B", "B", "A", "D", "D", "C", "A", "BONUS", "A", "D", "C", "B", "C", "B", "B", "D", "D", "C", "A", "C", "A", "C", "D", "A", "C", "B", "C", "D", "A", "B", "B", "C", "B", "B", "C"]
#key = ["A", "D", "B", "C", "B", "C", "A", "C", "D", "B", "B", "A", "C", "C", "D", "A", "D", "C", "A", "B", "B", "D", "B", "A", "B", "D", "A", "C", "A", "D", "C", "D", "A", "B", "D"]
#key = ["D", "C", "C", "B", "C", "B", "D", "B", "A", "C", "D", "B", "B", "D", "B", "B", "B", "A", "A", "C", "A", "B", "B", "C", "D", "D", "C", "A", "C", "B", "BONUS", "BONUS", "C", "A", "D"]
#key = ["A", "B", "B", "A", "D", "B", "B", "C", "A", "C", "C", "A", "D", "D", "D", "C", "B", "B", "D", "C", "B", "C", "B", "D", "D", "A", "D", "D", "B", "A", "D", "C", "D", "C", "A"]
#key = ["C", "B", "B", "A", "C", "C", "A", "C", "C", "B", "B", "B", "A", "D", "C", "B", "A", "B", "B", "C", "B", "A", "C", "C", "C", "C", "A", "A", "B", "B", "B", "BONUS", "A", "A", "A"]
#key = ["D", "A", "D", "D", "C", "C", "C", "B", "B", "A", "A", "B", "D", "A", "C", "B", "D", "D", "B", "B", "A", "A", "C", "B", "C", "B", "B", "D", "D", "C", "C", "A", "C", "A", "A"]
#key = ["D", "B", "B", "C", "A", "D", "B", "C", "A", "C", "A", "C", "B", "A", "A", "B", "C", "B", "D", "B", "D", "A", "B", "B", "A", "D", "C", "C", "C", "A", "B", "A", "A", "C", "C"]
#key = ["B", "D", "BONUS", "B", "BONUS", "C", "B", "B", "A", "D", "B", "C", "C", "D", "B", "B", "A", "B", "D", "B", "C", "BONUS", "A", "B", "C", "B", "BONUS", "A", "C", "B", "A", "BONUS", "BONUS", "C", "B"]
#key = ["D", "B", "D", "B", "C", "B", "A", "A", "D", "A", "B", "D", "A", "A", "A", "D", "C", "C", "A", "D", "C", "D", "B", "A", "A", "B", "B", "D", "C", "D", "D", "A", "C", "B", "A"]
#keyB = ["B", "D", "C", "C", "B", "A", "C", "A", "B", "C", "A", "B", "C", "A", "C", "B", "A", "C", "D", "B", "C", "A", "B", "C", "C", "D", "A", "A", "D", "D", "B", "BONUS", "B", "B", "A"]
#keyM = ["B", "D", "C", "C", "B", "A", "C", "A", "B", "C", "A", "B", "C", "A", "C", "B", "A", "C", "D", "B", "BONUS", "D", "D", "D", "A", "B", "B", "B", "A", "C", "B", "BONUS", "B", "B", "A"]
#keyB = ["D", "B", "D", "D", "B", "D", "B", "A", "B", "D", "D", "B", "D", "B", "D", "C", "B", "B", "C", "D", "D", "D", "A", "B", "C", "A", "D", "D", "B", "C", "C", "B", "B", "D", "A"]
#keyM = ["D", "B", "D", "D", "B", "D", "B", "A", "B", "D", "D", "B", "D", "B", "D", "C", "B", "B", "C", "D", "A", "D", "D", "A", "D", "D", "A", "D", "A", "C", "C", "B", "B", "D", "A"]

In [3]:
print(len(keyB))
print(len(keyM))

35
35

In [4]:
path = "/home/aman/Documents/eurekaGurus/Result/Final Responses/Slot 1/"
dest = "/home/aman/Documents/eurekaGurus/Result/Score/Slot 1/"

In [5]:
df = pd.read_csv(path + "Ca")
df = df.fillna(-1)
df

,Roll Number,Subject,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10
0,KA2001-12-001,Maths,D,B,A,-1,B,D,D,D,B,A,D,A,D,-1,D,A,-1,C,B,C,A,A,D,C,A,B,-1,-1,A,-1,-1,-1,A,C,A,B,B,A,-1,-1,B,-1,-1,-1,-1
1,UK2001-12-003,Maths,D,B,C,D,C,C,C,B,C,D,B,C,C,B,B,C,B,C,D,C,D,C,B,C,B,D,C,B,B,C,C,B,D,C,A,A,B,D,C,A,A,C,C,A,A
2,UK2001-12-001,Maths,B,B,D,D,D,D,-1,A,B,A,A,A,-1,C,C,B,-1,B,D,B,D,B,-1,-1,B,C,-1,A,A,A,B,-1,C,C,A,D,B,-1,-1,-1,-1,D,C,C,A
3,UK2001-12-002,Maths,D,B,-1,D,B,-1,-1,-1,A,-1,-1,D,C,B,-1,-1,-1,-1,-1,B,-1,B,-1,B,-1,A,-1,-1,-1,B,-1,-1,B,-1,-1,B,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,UK2001-12-004,Maths,D,B,D,A,B,B,B,B,C,B,C,A,B,C,C,D,A,C,B,C,B,B,D,B,A,B,C,B,A,D,A,C,B,B,C,B,B,A,D,B,B,C,D,B,A
5,MP2001-12-001,Maths,A,B,C,D,C,D,A,A,C,A,B,C,C,B,B,B,C,B,B,B,B,C,D,D,A,B,A,C,B,C,D,C,A,C,B,A,A,C,B,A,B,D,C,C,A
6,HP2002-12-001,Maths,D,-1,D,D,B,D,B,D,A,A,-1,B,-1,-1,-1,-1,-1,-1,-1,-1,D,B,-1,-1,-1,D,B,-1,D,-1,-1,-1,A,B,A,B,D,C,B,C,D,C,B,C,A
7,HP2002-12-002,Maths,-1,B,D,D,B,D,B,D,B,-1,-1,-1,-1,B,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,B,-1,A,-1,-1,-1,-1,-1,-1,A,-1,A,-1,-1,-1,-1,-1,-1,C,-1
8,HP2002-12-003,Maths,-1,-1,D,D,-1,B,-1,A,-1,-1,-1,-1,C,B,-1,-1,A,C,C,D,-1,-1,A,-1,-1,-1,-1,A,D,-1,-1,-1,C,-1,D,B,A,A,-1,-1,D,-1,-1,C,D
9,HP2002-12-004,Maths,D,-1,D,A,B,D,-1,-1,B,-1,-1,-1,C,-1,B,-1,-1,-1,B,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,A,B,-1,-1,A,C,-1,-1,D,-1,-1,-1,-1

In [6]:
df.Subject[2]

'Maths'

In [7]:
li = []

for i in range(len(df)):
    
    if df.Subject[i] == 'Maths':
        key = keyM
    else:
        key = keyB
    
    rollNumber = df.iloc[i][0]
    
    pCount = 0
    nCount = 0
    
    Marks = 0
    LR = 0
    SC = 0
    MH = 0
    AS = 0
    
    for j in range(10):
        if(key[j] == "BONUS"):
            LR = LR+1
        elif (df.iloc[i][j+1] == -1):
            LR = LR+0
        elif (df.iloc[i][j] == key[j]):
            LR = LR+1
            pCount = pCount+1
        else:
            LR = LR-0.25
            nCount = nCount+1
            
    for j in range(10, 20):
        if(key[j] == "BONUS"):
            SC = SC+1
        elif (df.iloc[i][j+1] == -1):
            SC = SC+0
        elif (df.iloc[i][j] == key[j]):
            SC = SC+1
            pCount = pCount+1
        else:
            SC = SC-0.25
            nCount = nCount+1
             
    for j in range(20, 30):
        if(key[j] == "BONUS"):
            MH = MH+1
        elif (df.iloc[i][j+1] == -1):
            MH = MH+0
        elif (df.iloc[i][j] == key[j]):
            MH = MH+1
            pCount = pCount+1
        else:
            MH = MH-0.25
            nCount = nCount+1
                   
    for j in range(30, 35):
        if(key[j] == "BONUS"):
            AS = AS+2
        elif (df.iloc[i][j+1] == -1):
            AS = AS+0
        elif (df.iloc[i][j] == key[j]):
            AS = AS + 2
            pCount = pCount+1
        else:
            AS = AS-0.50
            nCount = nCount+1
            
    Marks = LR + SC + MH + AS         
    li.append([rollNumber,LR, SC, MH, AS, Marks, pCount, nCount])

In [8]:
li

[['KA2001-12-001', 1.5, -0.75, 1.75, 1.5, 4.0, 8, 19],
 ['UK2001-12-003', 0.0, -1.25, 0.0, -2.5, -3.75, 5, 30],
 ['UK2001-12-001', -1.0, -0.75, -0.5, -2.0, -4.25, 3, 25],
 ['UK2001-12-002', 1.0, -0.75, -1.0, -1.0, -1.75, 2, 13],
 ['UK2001-12-004', 1.25, 0.0, 0.0, -2.5, -1.25, 7, 28],
 ['MP2001-12-001', -1.25, 1.25, 3.75, 0.0, 3.75, 10, 25],
 ['HP2002-12-001', 2.75, -0.5, 1.25, 1.5, 5.0, 7, 11],
 ['HP2002-12-002', 2.75, -0.25, -0.5, 0, 2.0, 4, 8],
 ['HP2002-12-003', -1.25, -1.25, -1.0, -0.5, -4.0, 0, 15],
 ['HP2002-12-004', -0.5, -0.75, 0, 1.5, 0.25, 2, 10]]

In [9]:
df = pd.DataFrame(li)
df

               0     1     2     3    4     5   6   7
0  KA2001-12-001  1.50 -0.75  1.75  1.5  4.00   8  19
1  UK2001-12-003  0.00 -1.25  0.00 -2.5 -3.75   5  30
2  UK2001-12-001 -1.00 -0.75 -0.50 -2.0 -4.25   3  25
3  UK2001-12-002  1.00 -0.75 -1.00 -1.0 -1.75   2  13
4  UK2001-12-004  1.25  0.00  0.00 -2.5 -1.25   7  28
5  MP2001-12-001 -1.25  1.25  3.75  0.0  3.75  10  25
6  HP2002-12-001  2.75 -0.50  1.25  1.5  5.00   7  11
7  HP2002-12-002  2.75 -0.25 -0.50  0.0  2.00   4   8
8  HP2002-12-003 -1.25 -1.25 -1.00 -0.5 -4.00   0  15
9  HP2002-12-004 -0.50 -0.75  0.00  1.5  0.25   2  10

In [10]:
df = df.rename(columns = {0:'rollNumber', 1:'logicalReasoning', 2:'Science', 3:'Mathematics', 4:'advanceSection', 5:'marksObtained', 6:'positiveAttempts', 7:'negativeAttempts'})
df

,rollNumber,logicalReasoning,Science,Mathematics,advanceSection,marksObtained,positiveAttempts,negativeAttempts
0,KA2001-12-001,1.50,-0.75,1.75,1.5,4.00,8,19
1,UK2001-12-003,0.00,-1.25,0.00,-2.5,-3.75,5,30
2,UK2001-12-001,-1.00,-0.75,-0.50,-2.0,-4.25,3,25
3,UK2001-12-002,1.00,-0.75,-1.00,-1.0,-1.75,2,13
4,UK2001-12-004,1.25,0.00,0.00,-2.5,-1.25,7,28
5,MP2001-12-001,-1.25,1.25,3.75,0.0,3.75,10,25
6,HP2002-12-001,2.75,-0.50,1.25,1.5,5.00,7,11
7,HP2002-12-002,2.75,-0.25,-0.50,0.0,2.00,4,8
8,HP2002-12-003,-1.25,-1.25,-1.00,-0.5,-4.00,0,15
9,HP2002-12-004,-0.50,-0.75,0.00,1.5,0.25,2,10

In [11]:
df.to_csv(dest + "Ca.csv", index=False)