In [1]:
import pandas as pd

In [2]:
path = "/home/aman/Documents/eurekaGurus/Result/Score/"

In [3]:
df1 = pd.read_csv(path + "Slot 1/Class12.csv")
df2 = pd.read_csv(path + "Slot 2/Class12.csv")

In [4]:
df1.head()

,rollNumber,logicalReasoning,Science,Mathematics,advanceSection,marksObtained,positiveAttempts,negativeAttempts
0,AS2009-12-005,-2.50,2.50,1.50,0.0,1.50,8,26
1,AS2009-12-002,-0.75,1.00,-1.00,-0.5,-1.25,3,16
2,AS2009-12-016,0.00,0.75,1.25,1.0,3.00,8,22
3,AS2009-12-023,-0.75,-1.00,0.75,-2.0,-3.00,3,20
4,AS2009-12-021,-2.00,-0.50,0.00,-1.5,-4.00,1,17

In [5]:
len(df1)

25

In [6]:
df2.head()

,rollNumber,logicalReasoning,Science,Mathematics,advanceSection,marksObtained,positiveAttempts,negativeAttempts
0,KA2001-12-001,1.50,-0.75,1.75,1.5,4.00,8,19
1,UK2001-12-003,0.00,-1.25,0.00,-2.5,-3.75,5,30
2,UK2001-12-001,-1.00,-0.75,-0.50,-2.0,-4.25,3,25
3,UK2001-12-002,1.00,-0.75,-1.00,-1.0,-1.75,2,13
4,UK2001-12-004,1.25,0.00,0.00,-2.5,-1.25,7,28

In [7]:
len(df2)

10

In [8]:
df = df1.append(df2)

In [9]:
len(df)

35

In [10]:
df.to_csv(path + "Class12.csv", index=False)